@model List<Photo>
@{

}
<div class="container text-center">
    <h1 class="display-4 fst-italic text-info fw-bold mb-5">Foto</h1>

    <div class="row mb-4">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-right">
            <form asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchString" placeholder="Cerca per nome" value="@ViewBag.SearchString">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        @if(User.IsInRole("ADMIN"))
                        {
                            <a class="btn btn-dark" href="@Url.Action("Create", "Photo")">Aggiungi Foto</a>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        @if ((Model.Count <= 0) || (Model == null))
        {
            <div><h2>Non ci sono Photo Disponibili</h2></div>
        }
        else
        {
            @foreach (var photo in Model)
            {
                    @if (User.IsInRole("ADMIN") || photo.Visible == true)
                    {
                       <div class="col-md-3 mb-3">
                            <div class="card h-100">
                                <img class="card-img-top" src="@photo.Image" alt="@photo.Title" />
                                <div class="card-body">
                                    <h5 class="card-title text-black">Titolo: @photo.Title</h5>
                                    <p class="card-text text-black">Descrizione: @photo.Description</p>
                                    <div>
                                        <strong class="text-black mb-2">Categorie:</strong>
                                        
                                        <ul class="row">
                                            @foreach (var category in photo.Categories)
                                            {                        
                                                    <li class="text-black small text-start text-decoration-none">@category.Title</li>
                                            }
                                        </ul>
                                    </div>                              
                                    <div class="d-flex flex-wrap gap-1 mt-auto justify-content-between y-2">
                                        <a href="@Url.Action("Details", "Photo", new { id = photo.Id })" class="btn btn-primary">Dettagli</a>
                                        @if (User.IsInRole("ADMIN"))
                                        {                          
                                            <a class="btn btn-warning" href="@Url.Action("Update", "Photo", new {id = photo.Id})">Modifica</a>                                  
                                            <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="btn btn-dark">Elimina</button>
                                            </form>   
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        }             
            }
        }
    </div>
</div>
