@model Photo



<div class="container pt-5">
    <h1 class="mb-4">Titolo: @Model.Title</h1>

    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid rounded" src="@Model.Image" alt="@Model.Title">
        </div>
        <div class="col-md-4">
            <h4>Categorie</h4>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>@category.Title</li>
                }
            </ul>
            <h5>Descrizione: </h5>
            <p>@Model.Description</p>
            <di class="mb-3"><a class="btn btn-info" href="@Url.Action("Index", "Photo")">Ritorna all'Index</a></di>
        </div>
    </div>
</div>